extends layout/static.pug
block content
        h2.text-center.text-dark.mt-5.mb-2 Simple Cart With Express & Pug
        p.text-muted.text-center.mb-3 Following Maximilian's Node Course
        div.text-center
            img(src="/img/image.png", alt="ExpressJS & Pug Template Engine Picture", class="img-fluid")
        .container-fluid
            .row.py-3
                .col-12.col-sm-12.offset-sm-0.col-md-4.offset-md-4.text-center
                    if prods.length
                        h5.text-dark Products
                        each prod of prods
                            .card.mt-4.text-white.bg-dark
                                img(src=("https://source.unsplash.com/200x200/?"+ prod.title), alt=(prod.title)).card-img-top.img-thumbnail
                                h6.card-title You Entered: #{prod.title}
                                p.card-text Random #{prod.title} Image From Unsplash
                            a(href="/add") Add Another
                    else
                        h6.text-dark You Don't Have a Products Yet
                        a(href="/add") Add One
